p, h1{
    margin: 0cm;
}
a{
    margin: 0;
}

body{
    font-family: Quicksand;
    margin: 0;
    padding: 0;
    background-color: darkolivegreen;
    
}
header{
    display: flex;
    height: 300px;
    width: 100%;
    background-image: url(pics-video/football-ball.jpg);
    background-position: center;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(255, 255, 255);
}

header div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: darkolivegreen;
    padding: 10px;
}
.h-überschrift{
    font-size: 40px;

}
.quote{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote i{
    width:400px;
    font-size: 30px;
    background-color: rgb(229, 236, 229);
    border-radius: 100px;
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

.session-container-example{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: auto;
    min-width: 450px;
    box-sizing: border-box;
    background-color: rgb(209, 216, 221);
    border-radius: 10px;
    padding: 50px;
    
}
.explanation{
    width: 50%;
    font-size: 24px;
    color: rgb(209, 216, 221);
}
@media(max-width: 900px){
    .explanation{
        width: 80%;
    }
    .session-container-example{
        width: 90%;
    }
    .überschrift{
        width: fit-content;
    }
}
.explain{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items:center;
    margin-top: 100px;

}
.build-btn{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    border-radius:10px;
    background-color: green;
    color: white;
    font-size: 20px;
    transition: 0.15s;
}
.build-btn:hover{
    background-color: rgb(209, 216, 221);
    color:black;
}
.build-btn:active{
    background-color: green;
    color:white;
}
.explain .ex{
    color: rgb(209, 216, 221);
    font-weight: bold;
    font-size: 30px;
}